.Colors {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.Colors-add-btn {
    background-color: black;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
}

.Colors-samples {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.Color-sample {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}