.Color-form-frame {
    position: absolute;
    top: 50px;
    z-index: 10;
    background-color: white;
    width: 200px;
    height: 50px;
}

.Color-form-input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 5px solid whitesmoke;
    cursor: pointer;
    padding: 0;
    margin: 0px 5px;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.Color-form-btn {
    background-color: black;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
}